.search {

 height: 50px;
 margin: 50px;
 text-align: center;
}

.searchInput{
  height:25px;
  width: 400px;
  border-radius: 10px;
  border:1px solid rgb(0, 0, 0);
}
.searchButton{
  height:25px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(224, 184, 169);
  border:1px solid rgb(0, 0, 0);
}
.photos{
  padding: 5px;
  border-radius: 5px;
}
.imgList {
  border: 1px dotted #000
}
.dropBlock {
  display: block;
  min-height: 200px;
  min-width: 500px;
  border: 1px solid #000;
  background-color: azure;
  margin: 5px;
}
.dropBlocks{
  display: flex;
  flex-wrap: wrap;
}
